{
    email deine-email@beispiel.de 
}

46.101.127.20.sslip.io {
    root * /usr/share/caddy
    file_server
    header {
        Cross-Origin-Opener-Policy same-origin
        Cross-Origin-Embedder-Policy require-corp
    } 
    handle_path /matchmaker/* {
        reverse_proxy matchmaker:8001
    }
    route /game/* {
        @port path_regexp port ^/game/([0-9]+)
        uri strip_prefix /game/{re.port.1}
        reverse_proxy @port localhost:{re.port.1}
    }
}