{
    email deine-email@beispiel.de
}

46.101.127.20.sslip.io {
    root * /usr/share/caddy
    file_server
    header {
        Cross-Origin-Opener-Policy same-origin
        Cross-Origin-Embedder-Policy require-corp
    }
}

*.game.46.101.127.20.sslip.io {
    reverse_proxy @game_containers
}