{
    email deine-email@beispiel.de
}

46.101.127.20.sslip.io {
    root * /usr/share/caddy
    file_server
    header {
        Cross-Origin-Opener-Policy same-origin
        Cross-Origin-Embedder-Policy require-corp
    }
}

matchmaker.46.101.127.20.sslip.io {
    reverse_proxy matchmaker:8001
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods GET,POST,OPTIONS
        Access-Control-Allow-Headers *
    }
}

*.game.46.101.127.20.sslip.io {
    reverse_proxy 127.0.0.1:8000 {
        transport http {
            versions h2c 1.1
        }
    }
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods GET,POST,OPTIONS
        Access-Control-Allow-Headers *
    }
}